{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <div class="home-info">
        Somos un pequeño equipo de voluntarios basados en Barcelona con el objetivo de recaudar donaciones para las
        necesidades específicas de los defensores de Ucrania. Todas las donaciones van destinadas únicamente a la compra
        de material necesario, el qual se envía directamente a los soldados de las Fuerzas Armadas de Ucrania:
        <ul>
            <li>El 100% de tu donación para la compra de equipo necesario en el campo</li>
            <li>Estamos en contacto directo con uno de los batallones y sabemos lo que necesitan ahora mismo</li>
            <li>Sin burocracia, sin publicidad, sin intermediarios</li>
        </ul>
    </div>
    <div class="entry-info">
        {{ partial "payment_info.es.html"}}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
<h2 class="posts-title">Nuestras últimas actualizaciones</h2>
{{- end -}}