{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <div class="home-info">
        Somos un pequeño equipo de voluntarios con su base en Barcelona. El objetivo de este proyecto es organizar
        donaciones para las necesidades específicas de los defensores de Ucrania. Todas las donaciones se usan
        únicamente para comprar el material necesario que se envía directamente a los soldados de las Fuerzas Armadas de
        Ucrania:
        <ul>
            <li>El 100% de su donación se destina a comprar el equipo necesario en el campo</li>
            <li>Estamos en contacto directo con uno de los batallones y sabemos lo que se necesita en este momento
            </li>
            <li>Sin burocracia, sin marketing, sin intermediarios</li>
        </ul>
    </div>
    <div class="entry-info">
        {{ partial "payment_info.es.html"}}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
<h2 class="posts-title">Nuestras últimas actualizaciones</h2>
{{- end -}}