{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <div class="home-info">
        Jesteśmy małym zespołem wolontariuszy z siedzibą w Barcelonie. Celem tego projektu jest zbieranie datków na
        konkretne potrzeby obrońców Ukrainy.<br />
        Wszystkie darowizny są przeznaczone wyłącznie na zakup niezbędnego sprzętu, który jest wysyłany bezpośrednio do
        żołnierzy Sił Zbrojnych Ukrainy:
        <ul>
            <li>100% Twojej darowizny idzie na zakup sprzętu potrzebnego na polu walki</li>
            <li>Jesteśmy w bezpośrednim kontakcie z jednym z batalionów i wiemy, co jest potrzebne w tej chwili</li>
            <li>Bez biurokracji, bez marketingu, bez pośredników</li>
        </ul>
    </div>
    <div class="entry-info">
        {{ partial "payment_info.pl.html"}}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
<h2 class="posts-title">Nasze najnowsze aktualizacje</h2>
{{- end -}}