{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <div class="home-info">
        We are a small team of volunteers based in Barcelona. The goal of this project is to organize donations for the
        specific needs of the defenders of Ukraine. All donations are exclusively used to purchase the necessary
        equipment that is sent directly to the soldiers of the Armed Forces of Ukraine:
        <ul>
            <li>100% of your donation goes to buy the equipment needed on the field</li>
            <li>We are in direct contact with one of the battalions and we know what's needed right now</li>
            <li>No bureaucracy, no marketing, no intermediaries</li>
        </ul>
    </div>
    <div class="entry-info">
        {{ partial "payment_info.html"}}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
<h2 class="posts-title">Our latest updates</h2>
{{- end -}}